<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Trio Lingo</title>
 
  <link rel="stylesheet" type="text/css" href="/js/css/style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>

  {{!-- <link rel="stylesheet" type="text/css" href="/css/jass.css"> --}}
</head>
<body>
    <header>
    <h1>Welcome to the Trio Lingo Learning App!</h1>
  </header>
  <nav>
    <a href="/">Home</a>
    {{#if loggedIn}}
    <button id="logout" class="btn-no-style">Logout</button>
    {{else}}
    <a href="/login">Login</a>
    {{/if}}
  </nav>
    <main>{{{body}}}</main>
</body>
</html>