{{#unless loggedIn}}
<div class="login-card">
  <h2 class="page-title">Login</h2>
  <form class="form login-form">
    <!-- Login form fields here -->
    <div class="form-group">
      <label for="email-login">Email:</label>
      <input class="form-input" type="text" id="email-login" />
    </div>
    <div class="form-group">
      <label for="password-login">Password:</label>
      <input class="form-input" type="password" id="password-login" />
    </div>
    <div class="form-group">
      <button class="btn btn-primary" type="submit">Login</button>
    </div>
    <div class="form-group">
      <button class="btn btn-secondary" id="signup-button">Sign Up</button>
    </div>
  </form>
  
  <!-- Signup form elements -->
  <form class="form signup-form">
    <div class="form-group">
      <label for="username-signup">Username:</label>
      <input class="form-input" type="text" id="username-signup" />
    </div>
    <div class="form-group">
      <label for="email-signup">Email:</label>
      <input class="form-input" type="text" id="email-signup" />
    </div>
    <div class="form-group">
      <label for="password-signup">Password:</label>
      <input class="form-input" type="password" id="password-signup" />
    </div>
    <div class="form-group">
      <button class="btn btn-primary" type="submit">Sign Up</button>
    </div>
  </form>
</div>
{{/unless}}
{{#if loggedIn}}
<script src="/public/js/logout.js"></script>
{{/if}}
<script src="/public/js/login.js"></script>
