{{!-- {{#if loggedIn}} --}}
  <div class="language-cards">
  <div class="language-card spanish">
    <button class="btn btn-primary">Spanish</button>
  </div>
  <div class="language-card japanese">
    <button class="btn btn-primary">Japanese</button>
  </div>
</div>
<script src="/public/js/quizQuestions.js"></script>
{{!-- {{/if}} --}}
