
  <div class="language-cards">
    <div class="language-card spanish">
      <button id="spanish-btn" class="btn btn-primary">Spanish</button>
    </div>
    <div class="language-card japanese">
      <button id="japanese-btn" class="btn btn-primary">Japanese</button>
    </div>
  </div>
