<div id="quiz-container">
  {{#each quizData}}
  <div class="quiz-question">
    <h3>{{ this.question }}</h3>
    <ul class="answer-options">
      {{#each this.choices}}
      <li>
        {{ this }}
      </li>
      {{/each}}
    </ul>
  </div>
  {{/each}}
</div>
